<nav class="container">
        <h2>leewhy Task</h2>
        <ul>
            <li><a href="/">Home Page</a></li>
            <li><a href="/about">About Page</a></li>
            <li><a href="/tasks">New Task</a></li>
        </ul>
    </nav>