<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/header.ejs')  %>

<body>
    <%- include('../partials/nav.ejs')  %>
   <main class="container">
    <h1>About my Page</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet iusto quidem repudiandae. Deserunt debitis nisi ex corporis dolores nobis vel! Nisi dolores temporibus animi dicta culpa expedita architecto doloremque molestiae eos ipsum! Molestiae incidunt maxime error soluta deserunt illo voluptas quo doloribus, possimus, laudantium voluptatum magni architecto ratione accusamus sequi.</p>
   </main>
   
   <%- include('../partials/footer.ejs')  %>
</body>
</html>