<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/header.ejs')  %>

<body>
    <%- include('../partials/nav.ejs')  %>
    <div class="fom">
        <form class="form">
            <label for="name">Name</label>
            <input type="text" id="name">
            <label for="title">Title</label>
            <input type="text" id="title">
            <label for="task">Task</label>
           <textarea name="" id="" cols="30" rows="10"></textarea>
            <button>Submit</button>
         </form>
    
    </div>
     <%- include('../partials/footer.ejs')  %>
</body>
</html>